*, body{
    margin: 0;
    width: 100vw;
}

.board {
    background-color: aqua;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    width: calc(500px/3);
    flex-shrink: 0;
    border: 1.5px solid black; /* Add border */
    box-sizing: border-box;
}
